<mat-drawer-container fullscreen>
    <mat-drawer-content>
        <mat-toolbar>
            <button (click)="drawer.toggle()" mat-icon-button class="example-icon"
                aria-label="Example icon-button with menu icon">
                <mat-icon>menu</mat-icon>
            </button>
            <span>My App</span>
            <span class="example-spacer"></span>
            <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                <mat-icon>favorite</mat-icon>
            </button>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                <mat-icon>share</mat-icon>
            </button>
        </mat-toolbar>
        <nav>
            <a routerLink="/auth/login" routerLinkActive="active" ariaCurrentWhenActive="page">Login</a>
            <a routerLink="/auth/registration-form" routerLinkActive="active" ariaCurrentWhenActive="page">Register</a>
            <a routerLink="/auth/logout" routerLinkActive="active" ariaCurrentWhenActive="page">Logout</a>
            <a routerLink="/eshop/menu" routerLinkActive="active" ariaCurrentWhenActive="page">Menu</a>
            <a routerLink="/eshop/product-list" routerLinkActive="active" ariaCurrentWhenActive="page">Products</a>
            <a routerLink="/eshop/product-detail" routerLinkActive="active" ariaCurrentWhenActive="page">Product
                Detail</a>
            <a routerLink="/eshop/promos" routerLinkActive="active" ariaCurrentWhenActive="page">Promos</a>
            <a routerLink="/shopping-cart/product-list-info" routerLinkActive="active"
                ariaCurrentWhenActive="page">Product
                List
                Info</a>
            <a routerLink="/shopping-cart/contact-info" routerLinkActive="active" ariaCurrentWhenActive="page">Contact
                Info
                Page</a>
            <a routerLink="/shopping-cart/delivery-info" routerLinkActive="active" ariaCurrentWhenActive="page">Delivery
                Info
                Page</a>
            <a routerLink="/shopping-cart/payment-info" routerLinkActive="active" ariaCurrentWhenActive="page">Payment
                Info
                Page</a>
        </nav>
        <router-outlet></router-outlet>
    </mat-drawer-content>

    <mat-drawer #drawer class="example-sidenav" mode="side">
        <h2>Menu</h2>
        <mat-nav-list>
            <!-- <a mat-list-item href="../products/products.component.html" *ngFor="let link of catalogs" [activated]="link.isActive">{{ link }}</a> -->
            <!-- <a mat-list-item href="../products/products.component.html" *ngFor="let link of catalogs" [activated]="link.isActive">{{ link }}</a> -->
            <!-- <a mat-list-item *ngFor="let link of catalogs" href="{{link.href}}">{{ link.name }}</a> -->
            <a mat-list-item routerLink="/eshop/product-list" routerLinkActive="active">juegos</a>
            <a mat-list-item routerLink="/eshop/product-list" routerLinkActive="active">placeholder</a>
            <a mat-list-item routerLink="/eshop/product-list" routerLinkActive="active">placeholder</a>

        </mat-nav-list>
        <p>Auto-resizing sidenav</p>
        <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
        <button (click)="showFiller = !showFiller" mat-raised-button>
            Toggle extra text
        </button>
    </mat-drawer>
</mat-drawer-container>